#container {
  margin: 10px;
  position: relative;
  overflow: auto;
  color: #333;
}

table {
  width: 100%;
}

table th {
  border: 1px solid #eee;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  vertical-align: center;
}

table td {
  border: 1px solid #f0f0f0;
  padding: 1px 2px;
  text-align: center;
}

table td:first-child {
  white-space: nowrap;
  text-align: left;
}

table td:nth-child(2) {
  font-weight: bold;
}

table td:nth-child(n+3) {
  font-weight: bold;
  color: #777;
}

table tr:nth-child(n+2):hover {
  background: #e0e3e5;
}

table tr.odd {
  background: #FAFAFA;
}

table tr.total td {
  font-weight: bold;
  color: #333;
}